- var categories = ['main-root-container','doc-metadata-container','sectioning-root-container','content-sectioning-container','text-content-container','inline-text-container','image-multimedia-container','embedded-content-container','svg-and-mathml-container','scripting-container','demarcating-edits-container','table-content-container','forms-container','interactive-elements-container', 'web-components-container','obsolete-container']

// ELEMENT MIXIN TEMPLATE
mixin element(number, symbol, name, mass, weight, material, column, row)
  .element(class=material)(class='c'+column)(class='r'+row)
    input.activate(type='radio', name='elements')
    input.deactivate(type='radio', name='elements')
    .overlay
    .square
      .model
        each item in weight.reverse()
          .orbital
            - for (var i = 0; i < item; i++)
              .electron
      .atomic-number= number
      .label
        .symbol= symbol
        .name= name
      .atomic-mass= mass
      ul.atomic-weight
        each item in weight.reverse()
          li= item


// PLACEHOLDER MIXIN TEMPLATE
mixin placeholder(number, material, column, row)
  .placeholder(class=material)(class='c'+column)(class='r'+row)
    .square= number


.wrapper 
  header.header
    svg.html-logo(alt='log0' width="auto" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet")
      use(xlink:href="./images/HTML5-logo.svg#html5Logo")
    h1 Periodic table of HTML5 elements
  main.main
    //- block legend
    include ./legend.pug

    each item in categories
      input.category-toggle(type='radio', id=item, name='categories')
      input.category-cancel(type='radio', id='cancel' name='categories')
    section.periodic-table
      include ./elements.pug

      .gap.line.c3.r8
      .gap.c3.r9