- var categories = ['main-root-container','doc-metadata-container','sectioning-root-container','content-sectioning-container','text-content-container','inline-text-container','image-multimedia-container','embedded-content-container','svg-and-mathml-container','scripting-container','demarcating-edits-container','table-content-container','forms-container','interactive-elements-container', 'web-components-container','obsolete-container']

// ELEMENT MIXIN TEMPLATE
mixin element(number, symbol, name, mass, weight, material, column, row)
  .element(class=material)(class='c'+column)(class='r'+row)
    input.activate(type='radio', name='elements')
    input.deactivate(type='radio', name='elements')
    .overlay
    .square
      .model
        each item in weight.reverse()
          .orbital
            - for (var i = 0; i < item; i++)
              .electron
      .atomic-number= number
      .label
        .symbol= symbol
        .name= name
      .atomic-mass= mass
      ul.atomic-weight
        each item in weight.reverse()
          li= item


// PLACEHOLDER MIXIN TEMPLATE
mixin placeholder(number, material, column, row)
  .placeholder(class=material)(class='c'+column)(class='r'+row)
    .square= number

#loader.hidden
  .ring loading
    span


.wrapper 
  include ../components/header.pug
  main.main
    //- block legend
    include ../components/legend.pug

    each item in categories
      input.category-toggle(type='radio', id=item, name='categories')
      input.category-cancel(type='radio', id='cancel' name='categories')
    section.periodic-table
      include ../components/elements.pug

      .gap.line.c3.r8
      .gap.c3.r9
      
.scrim.no-portrait
  img.rotate-image(src='./images/rotate-phone.png')
  p Rotate your device
